@font-face {
    font-family: "RobotoRegular";
    src: url("../../fonts/Roboto/Roboto-Regular.woff");
}

@font-face {
    font-family: "RobotoThin";
    src: url("../../fonts/Roboto/Roboto-Thin.woff");
}

@font-face {
    font-family: "RobotoLight";
    src: url("../../fonts/Roboto/Roboto-Light.woff");
}

@font-face {
    font-family: "NothingYouCouldDo";
    src: url("../../fonts/NothingYouCouldDo/NothingYouCouldDo-Regular.ttf");
}